<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>Who are we?</h2>
    <p>Best ticket platform for e-sports</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>