<nav>
    <div class="site-title">
      <a href="/"><h1>Ticketmaster</h1></a>
      <p>smile</p>
    </div>
    <ul>
      <li><a href="/">Events</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/appointments/create">New Event</a></li>
      <li><a href="/individual">Search</a></li>
    </ul>
</nav>